<ion-view view-title="Browse">
    <ion-content>
        <div class="row">
            <div class="col col-50 item-without-border">
                <ion-item href="#/app/comic/{{comicBrowse1.id}}">
                    <div class="item item-image">
                        <img src="{{comicBrowse1.thumbnail.path + '.'+ comicBrowse1.thumbnail.extension}}">
                    </div>
                </ion-item>
            </div>
            <div class="col col-50 item-without-border">
                <ion-item href="#/app/comic/{{comicBrowse2.id}}">
                    <div class="item item-image">
                        <img src="{{comicBrowse2.thumbnail.path + '.'+ comicBrowse2.thumbnail.extension}}">
                    </div>
                </ion-item>
            </div>
        </div>
        <div class="row">
            <div class="col col-25 item-without-border">
                <div class="row">
                    <div class="col col-100">
                        <ion-item href="#/app/comic/{{comicBrowse6.id}}">
                            <div class="item item-image">
                                <img src="{{comicBrowse6.thumbnail.path + '.'+ comicBrowse6.thumbnail.extension}}">
                            </div>
                        </ion-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100">
                        <ion-item href="#/app/comic/{{comicBrowse7.id}}">
                            <div class="item item-image">
                                <img src="{{comicBrowse7.thumbnail.path + '.'+ comicBrowse7.thumbnail.extension}}">
                            </div>
                        </ion-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100">
                        <ion-item href="#/app/comic/{{comicBrowse8.id}}">
                            <div class="item item-image">
                                <img src="{{comicBrowse8.thumbnail.path + '.'+ comicBrowse8.thumbnail.extension}}">
                            </div>
                        </ion-item>
                    </div>
                </div>
            </div>
            <div class="col col-75 item-without-border">
                <div class="col item-without-border">
                    <ion-item href="#/app/comic/{{comicBrowse3.id}}">
                        <div class="item item-image">
                            <img src="{{comicBrowse3.thumbnail.path + '.'+ comicBrowse3.thumbnail.extension}}">
                        </div>
                    </ion-item>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50 item-without-border">
                <ion-item href="#/app/comic/{{comicBrowse4.id}}">
                    <div class="item item-image">
                        <img src="{{comicBrowse4.thumbnail.path + '.'+ comicBrowse4.thumbnail.extension}}">
                    </div>
                </ion-item>
            </div>
            <div class="col col-50 item-without-border">
                <ion-item href="#/app/comic/{{comicBrowse5.id}}">
                    <div class="item item-image">
                        <img src="{{comicBrowse5.thumbnail.path + '.'+ comicBrowse5.thumbnail.extension}}">
                    </div>
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
