<ion-view view-title="{{comic.title}}">
    <ion-content>
        <div class="list card">
            <ion-list>
                <ion-item >
                    <div class="item item-avatar">
                        <img src="{{comic.thumbnail.path  +'.'+ comic.thumbnail.extension}}">
                        <h2>{{comic.title}}</h2>
                        <p>{{comic.dates[0].date}}</p>
                    </div>
                    <div class="item item-body" ng-if="comic.description != '' ">
                        <p>
                            {{comic.description}}
                        </p>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
