<ion-view view-title="{{superheroe.name}}">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="{{superheroe.thumbnail.path + '.'+ superheroe.thumbnail.extension}}">
                <h2>{{superheroe.name}}</h2>
                <p>Ultima actualización: {{superheroe.modified  | date: 'dd/mm/yyyy' }}</p>
            </div>
            <div class="item item-body">
                <p>
                    {{superheroe.description}}
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i> Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
